@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

html {
    box-sizing:border-box;
    margin: 0;
    font:normal 16px/1.2 'Rubik',sans-serif;
}
*, *::before, *::after {
    box-sizing:inherit;
}
body {
    margin:0;
    background-color: #e2e1e1;
}

/*Welcome Screen*/
#welcome-screen{
    background-color: #232a34;
}

.page-container {
    max-width:1200px;
    margin:0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

h1{
    margin-top: 0;
    font-size: 3em;
    text-align: center;
    color: #76777a;
    padding-top: 120px;
}

.nline{
    display: block;
}

#wlc_name{
    color: #fefefe;
}

#wlc_list {
    list-style: none;
    text-align: center;
    color: #76777a;
    padding: 0;
    margin: 0;
    padding-bottom: 247px;
}

#wlc_list li{
    padding-bottom: 38px;
    font-size: 1.875em;
}

/*Header Nav*/

.header-fixed{
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

#header{
    background-color: #232a34;
    margin: 0;
}

.hidden {
    position:absolute;
    left:-10000px;
    width:1px;
    height:1px;
}

.menu li{
    display: inline-block;
}

.flex-container-nav{
    display: flex;
    flex-flow: row wrap;
}

#site-name{
    flex: 1 0 0;
}

#main-menu{
    flex: 1.5 0 0;
    text-align: right;
}

.menu li{
    font-size: 1.875em;
    padding-right: 40px;
}

.menu li:last-child{
    padding-right: 0px;
}

#site-name a{
    font-size: 2em;
    text-decoration: none;
    color:#d5d5d5;
}
.menu a{
    color:#d5d5d5;
    text-decoration: none;
}

.menu a:hover{
    color:#369cd8;
}

ul.menu{
    padding-right: 0px;
}

h2#site-name{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav#main-menu{
    margin: 0;
    padding-top: 20px;
}

.section-headings{
    text-transform: lowercase;
    color: #66686f;
    font-size: 3em;
}

.section-headings a{
    position: absolute;
    left: 0px;
    top: -120px;
}


/*About*/

.about-para a{
    color: #369cd8;
    text-decoration: none;
    font-weight: bolder;
}
.about-para a:hover{
    text-decoration: underline;
}

p{
    font-weight: lighter;
    line-height: 2;
}

.flex-container-about{
    display: flex;
    flex-flow: row wrap;
}

.about-para{
    flex: 3 0 0;
}

.about-image{
    flex: 1 0 0;
}

ul.social-media-icons{
    text-align: left;
    padding: 0;
}

.social-media-icons li{
    display: inline-block;
}
.social-media.icons{
    width: 70px;
    height: 70px;
    filter: invert(0.5);
    transition: all 0.2s linear;
}

.social-media.icons:hover{
    filter: invert(0.8);
}

.about-image img{
    width: 200px;
    margin-top: 65px;
    float: right;
    border: 5px solid whitesmoke;
    box-shadow: 5px 5px 10px #66686f; 
}

/*Portfolio*/
.flex-portfolio{
    display: flex;
    flex-flow: row wrap;
}

.portfolio-column{
    flex: 1 0 0;
    margin-bottom: 34px;
    padding-right: 19px;
    
}

.break1 {
  flex-basis: 100%;
  height: 0;
}

img.portfolio-thumbnail{
    width: 100%;
    height: auto;
    transition: all 0.2s linear;
    border: 5px solid whitesmoke;
}

.portfolio-desc{
    display: none;
}

img.portfolio-thumbnail:hover, img.portfolio-thumbnail:active{
    transform: scale(1.1);
    box-shadow: 10px 10px 20px #66686f; 
}

.portfolio-column:hover > .portfolio-desc{
    display: block;
    padding-bottom: 30px;
}

.portfolio-column:hover{
    display: block;
}
.portfolio-desc a{
    color: grey;
}
.portfolio-desc a:hover{
    color: darkslategray;
}


.show-para{
    display: block;
}

/*Blog*/

.blog-flex{
    display: flex;
    flex-flow: row wrap;
}

.blog-column{
    flex: 1 0 0;
    padding: 0 18px 0 0;
}

.blog-column a{
    text-decoration: none;
    color: #6c6c6c;
    font-weight: bold;
}

.blog-column a:hover{
    text-decoration: underline;
    color: #494848;
    font-weight: bolder;
}

.blog-column:last-child{
    padding-right: 0;
}

h2.blog-heading{
    text-align: center;
    color: #66686f;
    font-size: 1.875em;
}

.unfold-btn{
    background: url(../images/expand_more_white_48dp.svg);
    width: 48px;
    height: 48px;
    margin: auto;
    display: none;
    filter: invert(0.8);
}

.fold{
    background: url(../images/expand_less_white_48dp.svg);
}

.unfold-btn:hover{
    filter: invert(0.5);
}

/*Contact Page*/

.input-field{
    width: 72%;
/*    max-width: 416px;*/
    height: 64px;
    margin-bottom: 30px;
    padding: 15px;
    font: normal 16px/1.2 'Rubik',sans-serif;
    border: 2px solid #66686f;
    border-radius: 10px;
    background-color: #e2e1e1;
    
}

.input-field-txt{
/*    max-width: 416px;*/
    width: 72%;
    height: 108px;
    padding: 15px;
    font: normal 16px/1.2 'Rubik',sans-serif;
    border: 2px solid #66686f;
    border-radius: 10px;
    background-color: #e2e1e1;
}

.input-container{
    vertical-align: middle;
}

.contact-icon{
    display: inline-block;
    width: 48px;
    height: 48px;   
    filter: invert(0.4);
    vertical-align: middle;
}

.person-icon{
    background: url(../images/person_black_48dp.svg);

}

.email-icon{
    background: url(../images/email_black_48dp.svg);
}

.comment-icon{
    background: url(../images/insert_comment_black_48dp.svg);
    margin-bottom: 40px;
}

#contact-flex{
    display: flex;
    flex-flow: row wrap;
}

#contact-form{
    flex: 1 0 0;
}

#quote{
    flex: 1 0 0;
    text-align: center;
}

.btn{
    background: #e2e1e1;
    color: #66686f;
    border: 2px solid #66686f;
    width: 30.5%;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
    margin-left: 290px;
    margin-bottom: 168px;
    border-radius: 10px;
    text-align: center;
}

.btn:hover{
    font-weight: bolder;
    box-shadow: 5px 5px 5px #66686f;
}

#footer{
    background-color: #232a34;
    height: 130px;
}

#footer p{
    color: #66686f;
    font-size: 1.5em;
    padding-top: 50px;
    margin: 0;
    font:normal 1.5em 'Rubik',sans-serif;
}

@media screen and (max-width: 1030px){
    
    
    .menu-btn{
        display: inline-block;
        background: url(../images/menu_white_48dp.svg);
        width: 48px;
        height: 48px;
        transition: all 0.2s linear;
    }
    
    #site-name{
        flex: 3 0 0;
    }

    #main-menu{
        flex: 1 0 0;
    }
    
    .break2 {
        flex-basis: 100%;
        height: 0;
    }

    .portfolio-column:nth-child(3n-1){
        padding-right: 0;
    } 

    .menu-btn-open{
        background: url(../images/menu_open_white_48dp.svg);
    }

    .menu{
        display: none;
        transition: all 0.3s linear;
    }

    .menu-block li{
        display: block;
        text-align: right;
        padding: 5px;
    }
    .menu li:last-child{
    padding: 5px;
    }
}

@media screen and (max-width: 768px){
    
    .break3 {
        flex-basis: 100%;
        height: 0;
    }
    
    #blog3{
        display: none;
        max-width: 50%;
    }
    
    .unfold-btn{
        display: block;
    }
    
    #contact-form{
        margin: auto;
        text-align: center;
    }
    
    .btn{
        padding: 0;
        margin: 0;
        text-align: center;
    }
}

@media screen and (max-width: 481px){
    
    .break4 {
        flex-basis: 100%;
        height: 0;
    }
    ul#wlc_list{
        padding-bottom: 60px;
    }
    ul.social-media-icons{
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    .social-media.icons{
        width: 60px;
        height: 60px;
    }
    .about-image{
        display: none;
    }
    
    h2#site-name{
        font-size: 0.9em;
    }
    nav#main-menu{
        padding-top: 15px;
    }
    
    .portfolio-column{
        flex: 1 0 100%;
        padding-right: 0px;
    }
    .unfold-btn{
        display: block;
    }
    
    #contact-form{
        margin: auto;
        text-align: center;
    }
    
    #blog2{
        display: none;
    }
    
    .blog-column{
        flex: 1 0 99%;
    }
    
    #blog3{
        max-width: 100%;
    }
    
    .portfolio-column:nth-child(n+6){
        display: none;
    }
    
}
