@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


/* General */
html {
    box-sizing:border-box; /* allow width and height to include everything up until the border */
}

*, *::before, *::after {
    box-sizing:inherit;
}

body {
    font:normal 1em/1.2 'Rubik', sans-serif;
    margin:0 auto;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
}

h2{
    font-size: 1.31em;
}

.page-container{
    max-width: 1200px;
    margin: 0 auto;
}

.hidden {
    position:absolute;
    left:-10000px;
    width:1px;
    height:1px;
}


/* Header */

#site-name{
    text-transform: uppercase;
    display: inline-block;
    float: left;
    margin: 0;
    width: 34%;
    padding: 20px 0px 20px 10px;
    font-size: 1.85em;
}

#site-name img{
    vertical-align: middle;
}

#site-name a{
    color: #00a651;
}

.site-name-logo{
    color: #f23545 ;
}

ul.menu{
    width: 64%;
}

.menu{
    width: 64%;
    list-style: none;
    padding: 38px 0px 20px 0px;
    margin: 0;
    float: right;
    display: inline-block;
    font-size: 1.25em;
    text-align: right;
}

.langTog{
    font-weight: bolder;
}
.menu li{
    display: inline-block;
    padding-left: 10px;
    padding-bottom: 10px;
}

.menu li:first-child{
    padding-left: 0px;
}

.menu li:last-child{
    padding-right: 1px;
}


.menu a{
    color: #956738;
    font-weight: 500;
}

.menu a:hover{
    color: #da6b00;
}

ul.menu.lang{
    padding: 0 0 0 0;
}
.menu.lang a{
    font-size: 0.7em;
}

.langTog{
    background-color: #fff;
    color: #214e2b;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.langTog:hover{
    color: #d26900;
}


/* Banner */
#welcome-banner{
    position: relative;
}

.banner-content{
    position: absolute;
    margin-top: 150px;
}

.banner-content h1{
    font-size: 6em;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    padding-left: 22px;
    text-shadow: 5px 5px 0px #f23545;
}

.banner-image img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
p {
  word-break: break-all;
}

.social_media_links li{
    display: inline-block;
    list-style: none;
    padding-right: 10px; 
}

.social_media_links img{
    width: 46px;
}

.social_media_links img:hover{
    filter: invert(100%);
}

/* Sign UP */

h2#line1{
    color: #214e2b;
    font-size: 2em;
}

h2#line2{
    color: #2f8642;
    font-size: 1.8em;
}

.join-community {
    text-align: center;
}
.join-community h2{
    margin: 15px 0px 10px 0px;
    font-size: 1.5em;
}

.inp-field{
    display: block;
    margin: 0;
    padding-bottom: .5em;
}

input[type=text], input[type=email]{
    margin: auto;
    border-radius: 10px;
    border: 2px solid #d26900;
}

label{
    font-size: 1.2em;
}

::placeholder{
    padding: 15px;
}

input#name{
    width: 33%;
    height: 35px;
}
input#email{
    width: 33%;
    height: 35px;
}
input#phone{
    width: 33%;
    height: 35px;
}

textarea#suggest{
    width: 40%;
    height: 150px;
    border-radius: 10px;
    border: 2px solid #d26900;
}


p#wel_p{
    font-size: 2.1em;
    font-weight: bold;
}

p#wel_p a{
    color: #f23545;
    text-decoration: underline;
}

p#wel_p a:hover{
    text-decoration: none;
}

p#join-para{
    margin-bottom: 35px;
}

.join-para{
    margin-bottom: 35px;
}
#join-btn{
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

#join-btn:hover{
    background-color: #f23545;
}

/* Newsletter */

#newsletter{
    text-align: center;
    background-color: #f23545;
}

#newsletter h2{
    margin: 0;
    padding-top: 75px;
    text-transform: uppercase;
}


#chkbx{
    width: 43%;
    margin: auto;
    border: 1px solid #fff;
}

#chkbx legend{
    text-align: left;
}

#signup{
    text-align: center;
}

#chkbx label{
    padding-right: 40px;
}

.button{
    background-color: #00a651;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 5px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
}

.button:hover{
    background-color: #14422b;
}

/* main content */

#cv{
    padding-top: 10px;
}

#aboutme a{
    background-color: #00a752;
    color: white;
    padding: 10px;
    border-radius: 10px;   
}

#aboutme a:hover{
    background-color: #d76b00;
}

div.main-content{
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
}
.main-article img{
    width: 150px;
}

.main-content{
    width: 98%;
    text-align: center;
    color: #000;
}

.main-content h2{
    padding-top: 15px;
    margin-bottom: 0px;
    font-size: 1.5em;
    color: #d36800;
}

.main-content h3{
    text-transform: uppercase;
    margin-top: 70px;
}

.main-article h3 a{
    color: #f23545;
}

.main-article h3 a:hover{
    color: #df5369;
}
.main-article.col50{
    width: 48%;
    display: inline-block;
}

.pink-button{
    background-color: #f23545;
    color: #fff;
    border: none;
    font-size: 0.875em;
    border-radius: 10px;
    padding: 5px;
    
}

.pink-button:hover{
    background-color: #df5369
}

/*Posters*/

#poster ul{
    list-style: none;
}

#poster a{
    color: darkgreen
}

#poster a:hover{
    color: #f23545;
}

#poster img{
    width: 40px;
    margin-left: 10px;
    vertical-align: middle;
}

#poster img:hover{
    width: 40px;
}

/*Contact US*/
#contact-us ul{
    list-style: none;
}

#contact-us li{
    padding-top: 10px;
}
/* Footer */
#footer{
    background-color: #00a651;
    color: #fff;
}

#footer h4{
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 100;
}

#footer a{
    color: #fff;
}

#footer a:hover{
    color: #fff700;
}

.featured-article {
    padding-top: 35px;
    display: inline-block;
    width: 24%;
    padding-left: 15px;
}

.footer-elements{
    margin:0;
    padding: 0;
}

.footer-elements a{
    font-size: 0.9em;
}

.featured-article:nth-child(3){
    vertical-align: top;
}

.copyright{
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 0.8em;
    text-align: center;
}

.hline{
    width: 100%;
    height: 1px;
    background: #b52733;
    margin: 20px 0px 10px 0px;
}


@media screen and (max-width:1200px) {
    #site-name{
        width: 98%;
        text-align: center;
    }
    ul.menu{
        width: 98%;
        text-align: center;
        padding-top: 10px;
    }
    .social_media_links{
        text-align: center;
    }
    
}

@media screen and (max-width:480px) {

    ul.menu li{
        display: block;
        padding-bottom: 15px;
    }
    
/*
    .banner-image img{
        padding-top: 50px;
        transform: scale(1.5);
        padding-bottom: 50px;
    }
*/
    
    input#name{
        width: 70%;
    }
    input#email{
        width: 70%;
    }
    input#phone{
        width: 70%;
    }

    textarea#suggest{
        width: 85%;
    }
    
    h2#line2{
        font-size: 1em;
    }
    
    h2#line1{
        font-size: 1.7em;
    }
    
}
